provider "azurerm" {
  tenant_id = ""
  subscription_id = "" 
  client_id = ""
  client_secret = ""
}


terraform{
    backend "azurerm" {
    storage_account_name = ""
    container_name       = ""
    key = "terraform.tfstate"
    access_key                  = ""
  }
} 

variable "igss_devteam_objectId" {
    description = "Dev-Team to enable on various recources"
    default = ""
}
